/* Spinner */
.spinner-container {
  --clr-white: #FFFFFF;
  --clr-light-gray: #D9D9D9;
  --clr-light-blue: #689A92;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 3rem;
  margin-bottom: 3rem;
}

.spinner {
	--spinner-length: 90px;
	position: relative;
	width: var(--spinner-length);
	height: var(--spinner-length);
	border-radius: 50%;
	border: 2px dashed var(--clr-light-blue);
	animation: rotate-spinner 5000ms linear infinite;
}

.spinner-big-circle,
.spinner-small-circles,
.spinner-small-circles::before,
.spinner-small-circles::after {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.spinner-big-circle {
	--big-circle-radius: calc(var(--spinner-length) / 4);
	width: var(--big-circle-radius);
	height: var(--big-circle-radius);
	background-color: var(--clr-light-gray);
}

.spinner-small-circles {
	--small-circle-radius: calc(var(--spinner-length) / 8);
	left: 100%;
	width: calc(var(--small-circle-radius) * 3);
	height: calc(var(--small-circle-radius) * 3);
	border: 2px dashed var(--clr-light-blue);
	background-color: var(--clr-white);
	animation: rotate-spinner-small-circles 3600ms linear infinite;
}

.spinner-small-circles::before,
.spinner-small-circles::after {
	content: "";
	width: var(--small-circle-radius);
	height: var(--small-circle-radius);
	background-color: var(--clr-light-gray);
}

.spinner-small-circles::after {
	left: 100%;
}

@keyframes rotate-spinner {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-spinner-small-circles {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@media screen and (min-width: 375px) {
  .spinner {
    --spinner-length: 120px;
  }
}

@media screen and (min-width: 768px) {
  .spinner {
    --spinner-length: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .spinner {
    --spinner-length: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .spinner {
    --spinner-length: 250px;
  }
}

/*ESTILOS DE BULMA Y CSS NANCY*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.image img{
    object-fit: cover;
  }
  
iframe {
  object-fit: cover;
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  /* max-height: unset; */
}

body {
  min-height: 100vh;
  background-image: url("https://www.wallpapertip.com/wmimgs/1-15799_8211-earth-from-space-space-wallpaper-4k-wallpaper.jpg");
  background-position: top center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: rgb(7, 6, 6);
}

.column {
  display: flex;
}

.card {
  align-self: stretch;
}
